package page

import (
    "github.com/hrz8/gohx/view/layout"
    "github.com/hrz8/gohx/view/component"
    "github.com/hrz8/gohx/internal/repo/db"
)

templ homeBlock(app *db.Apps) {
    @component.Nav()
    if app == nil {
        <div>No apps</div>
    } else {
        <div>Hello, {app.Name}!</div>
    }
}

templ HomePage(app *db.Apps) {
    @layout.LayoutMain() {
        @homeBlock(app)
	}
}
